@import '../../global.scss';


.menu{
    // background-attachment:
    z-index: 1;
    background-color: $color2;
    // width: 350px;

    width: 0;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease;
    box-shadow: -3px -3px 3px grey;

    ul{
        list-style: none;
        font-size: 28px;
        color: white;
        width: 60%;
        li{
            margin-bottom: 30px;
            a{
                text-decoration: none;
                color: inherit;
            }
            &:hover{
                font-weight: 500;
            }
        }
    }
    &.active{
        width: 350px;
    }
}