// .project{

//     .container{
//         width: 80vw;
//         margin: 0 auto;
//         padding: 80px 0;

//         .animationContainer{
//             box-shadow: 3px 3px 3px gray,-3px -3px 3px gray;
//             display: flex;
//             margin: 20px auto;
//             width: 88%;

//             // border: 4px solid red;
//             border-radius: 10px;

//             > *{
//                 margin: 40px 5px;
//                 width: 33%;
//                 height: 300px;
//                 border: 2px solid black;
//             }

//             .animation-1,.animation-2{
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;
//                 span{
//                 background-color: rgb(241, 114, 135);

//                     width: 50px;
//                     height: 50px;
//                     display: flex;
//                     align-items: center;
//                     justify-content: center;
//                     font-size: 2rem;
//                     border-radius: 50%;
//                     animation: bouncing 10ms infinite ease-in-out;
//                     font-weight: bold;
//                 }
//                 span:nth-child(1){
//                     animation: bouncing 10ms infinite ease-in-out;
//                     color: purple;
//                 }
//                 span:nth-child(3){
//                     animation: bouncing 10ms infinite ease-in-out;
//                     color: gold;
//                 }
//                 span:nth-child(5){
//                     animation: bouncing 10ms infinite ease-in-out;
//                     color: pink;
//                 }
//                 span:nth-child(7){
//                     animation: bouncing 10ms infinite ease-in-out;
//                     color: yellow;

//                     // display: none;
//                 }
//                 @keyframes bouncing {
//                     0%{
//                         transform: translateY(0px);
//                     }
//                     25%{
//                         transform: translateY(-28px);
//                     }
//                     50%{
//                         transform: translateY(28px);
//                     }
//                     75%{
//                         transform: translateY(-28px);
//                     }
//                     100%{
//                         transform: translateY(0px);
//                     }
//                 }
//             }
//             .animation-2{



//                 // display: flex;
//                 // align-items: center;
//                 // justify-content: center;
//                 span{
//                     background-color: rgb(168, 83, 97);
//                     width: 50px;
//                     height: 50px;
//                     display: flex;
//                     align-items: center;
//                     justify-content: center;
//                     font-size: 2rem;
//                     border-radius: 50%;
//                     animation: bouncing 10ms infinite ease-in-out;
//                     font-weight: bold;
//                 }
//                 span:nth-child(1){
//                     animation: bouncing 1s infinite ease-in-out;
//                     color: purple;
//                 }
//                 span:nth-child(3){
//                     animation: bouncing 2s infinite ease-in-out;
//                     color: gold;
//                 }
//                 span:nth-child(5){
//                     animation: bouncing 3s infinite ease-in-out;
//                     color: pink;
//                 }
//                 span:nth-child(6){
//                     animation: bouncing 4s infinite ease-in-out;
//                     color: purple;
//                 }
//                 @keyframes bouncing {
//                     0%{
//                         transform: translateY(0px);
//                     }
//                     25%{
//                         transform: translateY(-28px);
//                     }
//                     50%{
//                         transform: translateY(28px);
//                     }
//                     75%{
//                         transform: translateY(-28px);
//                     }
//                     100%{
//                         transform: translateY(0px);
//                     }
//                 }

//             }
//             .animation-3{



//                 display: flex;
//                 align-items: center;
//                 justify-content: center;
//                 span{
//                     background-color: rgb(255, 77, 106);
//                     width: 50px;
//                     height: 50px;
//                     display: flex;
//                     align-items: center;
//                     justify-content: center;
//                     font-size: 2rem;
//                     border-radius: 50%;
//                     animation: bouncing 10ms infinite ease-in-out;
//                     font-weight: bold;
//                 }
//                 span:nth-child(1){
//                     animation: bouncing 1s infinite ease-in-out;
//                     color: purple;
//                 }
//                 span:nth-child(3){
//                     animation: bouncing 2s infinite ease-in-out;
//                     color: gold;
//                 }
//                 @keyframes bouncing {
//                     0%{
//                         transform: translateY(0px);
//                     }
//                     25%{
//                         transform: translateY(-28px);
//                     }
//                     50%{
//                         transform: translateY(28px);
//                     }
//                     75%{
//                         transform: translateY(-28px);
//                     }
//                     100%{
//                         transform: translateY(0px);
//                     }
//                 }




//             }

//         }
//     }
// }
















.project{

    .container{
        width: 80vw;
        margin: 0 auto;
        padding: 80px 0;

        .animationContainer{
            box-shadow: 3px 3px 3px gray,-3px -3px 3px gray;
            display: flex;
            margin: 20px auto;
            width: 88%;

            // border: 4px solid red;
            border-radius: 10px;

            > *{
                margin: 40px 5px;
                width: 33%;
                height: 300px;
                margin: 40px 10px;
            }

            .animation-1,.animation-2,.animation-3{
            box-shadow: 3px 3px 3px gray;
                display: flex;
                align-items: center;
                justify-content: center;
                span{
                background-color: rgb(255, 193, 247);

                    width: 50px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 2rem;
                    border-radius: 50%;
                    animation: bouncing 10ms infinite ease-in-out;
                    font-weight: bold;
                    margin: 0 2px;
                }
                span:nth-child(1){
                    // animation: bouncing 10ms infinite ease-in-out;
                    color: purple;
                }
                span:nth-child(3){
                    // animation: bouncing 10ms infinite ease-in-out;
                    color: gold;
                }
                span:nth-child(5){
                    // animation: bouncing 10ms infinite ease-in-out;
                    color: rgb(255, 97, 123);
                }
                span:nth-child(7){
                    // animation: bouncing 10ms infinite ease-in-out;
                    color: yellow;

                    // display: none;
                }
                @keyframes bouncing {
                    0%{
                        transform: translateY(0px);
                    }
                    25%{
                        transform: translateY(-28px);
                    }
                    50%{
                        transform: translateY(28px);
                    }
                    75%{
                        transform: translateY(-28px);
                    }
                    100%{
                        transform: translateY(0px);
                    }
                }
            }
            .animation-2{

                span{
                    background-color: rgb(255, 210, 218);
                    margin: 0 5px;
                }
                span:nth-child(1){
                    animation: bouncing 1s infinite ease-in-out;
                    color: purple;
                }
                span:nth-child(3){
                    animation: bouncing 2s infinite ease-in-out;
                    color: gold;
                }
                span:nth-child(5){
                    animation: bouncing 3s infinite ease-in-out;
                    color: rgb(255, 78, 108);
                }
                span:nth-child(6){
                    animation: bouncing 4s infinite ease-in-out;
                    color: purple;
                }

            }
            .animation-3{

                span{
                    background-color: rgb(196, 243, 255);
                    margin: 0 10px;            
                }
                // span:nth-child(1){
                //     animation: bouncing 1s infinite ease-in-out;
                //     color: purple;
                // }
                // span:nth-child(3){
                //     animation: bouncing 2s infinite ease-in-out;
                //     color: gold;
                // }

            }

        }
    }
}