.intro{
    // margin: 30px;
    width: 100%;

    .container{
    // background-color: rgb(0, 162, 255);
        width: 80%;
        margin: 0 auto;
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;

        h1{
            font-size: 84px;
            margin: 30px 0;
            font-weight: 700;
        }
        h2{
            font-size: 45px;
            font-weight: 700;
        }
        h3{
            font-size: 38px;
            font-weight: 500;
        }

        .animation{
            width: 70%;
            height: 400px;
            border:2px solid red;
            background-color: purple;
            z-index: -1;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            border-radius: 50%;
            
        }
    }
}