
$bg50: #00bfff;
$bg60: #00ace6;
$bg70:  #0099cc;
$bg80:  #0086b3;
$bg90: #007399;
$bg100: #006080;



$color5:#000000;
$color4:#0d0d0d;
$color3:#1a1a1a;
$color2:#262626;
$color1:#333333;
$color0:#404040;

$textColor100: #ffffff;
$color11:#f2f2f2;
$color12:#e6e6e6;
$color13:#d9d9d9;
$color14:#cccccc;
$color15:#bfbfbf;

